{% extends 'registration/base.html' %} {% load static%} {% load bootstrap3 %}



{% block styles %} {{block.super}} -->


<!-- Content block -->
<!-- {% block content %} {{block.super}}
<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
<body style="background-color:#5fb1b4;" >
<div style="font-family: 'Concert One', cursive;">
<div class="container"> -->

    <!-- Create Post form -->
    <!-- <div class="col-md-8 col-lg-8">
        <form action="{% url 'NewPost'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form form %}
            <input type="submit" class="btn btn-success btn-lg" value="Post">
        </form>
    </div>

</div>
</div>
</body>
{% endblock %} -->