{%extends 'inherit/base.html'%}
{% load static%}
{% load bootstrap3 %}

 {% block content %}


 <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'nav.css' %}">

 <body  background="static/pic.jpg" style="" >
  <div style="font-family: 'Concert One', cursive;">
  <div class="container4" style="margin-top:25em;">
        <h3 class='text-center' style="font-size:900%; color:#b32a3f"> Instagram</h3>
  </div>

</div>
 {% include "navbar.html" %}

 </body>{%endblock%}


     {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% endblock %} 